/* Custom Fonts */
@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans.eot');
    src: url('fonts/PT-Sans.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans.woff') format('woff'),
         url('fonts/PT-Sans.ttf') format('truetype'),
         url('fonts/PT-Sans.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-Bold.eot');
    src: url('fonts/PPT-Sans-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-Bold.woff') format('woff'),
         url('fonts/PT-Sans-Bold.ttf') format('truetype'),
         url('fonts/PT-Sans-Bold.svg#pt_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-Italic.eot');
    src: url('fonts/PPT-Sans-Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-Italic.woff') format('woff'),
         url('fonts/PT-Sans-Italic.ttf') format('truetype'),
         url('fonts/PT-Sans-Italic.svg#pt_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-BoldItalic.eot');
    src: url('fonts/PPT-Sans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-BoldItalic.woff') format('woff'),
         url('fonts/PT-Sans-BoldItalic.ttf') format('truetype'),
         url('fonts/PT-Sans-BoldItalic.svg#pt_sansbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}

html {
	background-color: #608699;
	line-height: 1.5;
}

body {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

/* Main Column Typography */

.section {
	padding-left: 10px;
	padding-right: 10px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}


@media screen and (min-width: 1200px) {
	
	body {
		font-size: 15px;
	}
	
	.container {
		max-width: 1200px;
	}
}

@media screen and (max-width: 767px) {
	
	.section {
		padding-left: 20px;
		padding-right: 20px;
	}
	
}

header {
	padding-top: 20px;
	color: #FFF;
	background-color: #405c71;
}

header h1 {
	margin: 0;
	font-weight: normal;
	font-size: 165%;
}

header p {
	font-size: 100%;
	margin: 0;
}

/* Site Navigation */
.site-nav {
	margin-top: 20px;
	margin-bottom: 10px;
}

.site-nav ul {
	margin: 0;
	padding: 0;
}

.site-nav li {
	list-style: none;
	float: left;
	margin-right: 5px;
}

.site-nav a {
	display: block;
	color: #FFF;
	padding: 5px 10px;
	background-color: #344958;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .20);
	border: 1px solid #647583;
	border-radius: 5px 5px 2px 2px;

}

.site-nav a:hover {
	background-color: #0b2b44;

	border: 1px solid #647583;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .50);
	border-radius: 10px 10px 1px 1px;
}

/* Egitim listesi*/

.Egitim-Nav li {
	width: 100%;
	box-sizing: border-box;
	list-style: none;
	float: left; 
	margin-right: 15px;
}

.Egitim-list a {
	display: block;
	box-sizing:border-box;
	color: #FFF;
	padding: 15px 15px 15px 15px;
	background-color: #586975;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .20);
	border: 1px solid #647583;
	border-radius: 5px 5px 2px 2px;
	margin-bottom: 5px;

}

.Egitim-list a:hover {
	background-color: #0b2b44;

	border: 1px solid #647583;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .50);
	border-radius: 10px 10px 1px 1px;
}

@media screen and (max-width: 1023px) {
	
	.site-nav li {
		width: 33.332%;
		margin-right: 0;
	}
	
	.site-nav a {
		padding: 15px 0;
		margin-right: 5px;
		margin-bottom: 5px;
		text-align: center;
	}
	
}

@media screen and (max-width: 767px) {
	
	.site-nav li {
		width: 50%;
	}
	
}



/* End Site Navigation */


.content-area {
	background-color: rgb(166, 189, 216);
	padding-bottom: 20px;
	padding-top: 20px;

}

@media screen and (max-width: 767px) {
	.content-area {
		padding-top: 40px;
	}
}

/*
.main-area {
	width: 100%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}
*/

.sidebar {
	width: 100%;
	color: #000;
	font-size: 85%;
	box-sizing: border-box;
}

.sidebar h3 {
	font-size: 138.5%;
	margin-bottom: 5px;
}


@media screen and (max-width: 767px) {
	
	.hide-small {
		display: none;
	}
	
}

.box-a {
	text-align: left;
	background-color: #e7eff5;
	padding: 10px 10px 0 10px;
	border: 2px solid rgb(114, 144, 192);
	margin-bottom: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .20);
	border-radius: 10px;

}

.box-a :hover{

	box-shadow: 5px 5px 5px rgba(0, 0, 0, .50);
	border-radius: 10px 10px 2px 2px;
}

@media screen and (max-width: 767px) {
	.box-a {
		margin-bottom: 15px;
	}
}

/* Grid */
.row {
	margin-right: -10px;
}

.col {
	width: 100%;
	float: left;
	padding-right: 20px;
	box-sizing: border-box;
}

.col-xs-11 {width: 91.662%}
.col-xs-10 {width: 83.332%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.662%;}
.col-xs-7 {width: 58.331%}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.662%}
.col-xs-4 {width: 33.332%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.662%;}
.col-xs-1 {width: 8.332%;}

@media screen and (min-width: 768px) {
	
	.row {
		margin-right: -20px;
	}
	
	.col {
		padding-right: 20px;
	}
		
	.col-sm-11 {width: 91.662%}
	.col-sm-10 {width: 83.332%;}
	.col-sm-9 {width: 75%;}
	.col-sm-8 {width: 66.662%;}
	.col-sm-7 {width: 58.331%}
	.col-sm-6 {width: 50%;}
	.col-sm-5 {width: 41.662%}
	.col-sm-4 {width: 33.332%;}
	.col-sm-3 {width: 25%;}
	.col-sm-2 {width: 16.662%;}
	.col-sm-1 {width: 8.332%;}
	
}

@media screen and (min-width: 1024px) {
	
	.col-md-11 {width: 91.662%}
	.col-md-10 {width: 83.332%;}
	.col-md-9 {width: 75%;}
	.col-md-8 {width: 66.662%;}
	.col-md-7 {width: 58.331%}
	.col-md-6 {width: 50%;}
	.col-md-5 {width: 41.662%}
	.col-md-4 {width: 33.332%;}
	.col-md-3 {width: 25%;}
	.col-md-2 {width: 16.662%;}
	.col-md-1 {width: 8.332%;}
	
}

@media screen and (min-width: 1280px) {
	
	.col-lg-11 {width: 91.662%}
	.col-lg-10 {width: 83.332%;}
	.col-lg-9 {width: 75%;}
	.col-lg-8 {width: 66.662%;}
	.col-lg-7 {width: 58.331%}
	.col-lg-6 {width: 50%;}
	.col-lg-5 {width: 41.662%}
	.col-lg-4 {width: 33.332%;}
	.col-lg-3 {width: 25%;}
	.col-lg-2 {width: 16.662%;}
	.col-lg-1 {width: 8.332%;}
	
}

@media screen and (max-width: 1023px) {
	.push-down-sm {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 767px) {
	.push-down-sm {
		margin-bottom: 15px;
	}
}

footer {
	width: 100%;
	float: left;
	padding-right: 20px;
	box-sizing: border-box;
	
	text-align: center;
	font-size: 85%;
	color: #FFF;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #405c71;

}

.footerimage {	
	width: 20%;
	padding-left: 20Px;
	float: right;
	box-sizing: border-box;
}

.row:before,
.row:after,
.group:before,
.group:after {
	content: "";
	display: table;
}

.row:after,
.group:after {
	clear: both;
}

.row,
.group {
	zoom: 1;
}